<template name="home">
    <div class="container container-top">
      <h1 class="text-center">A Cooler Way Share College Stuff</h1>
      <h2 class="text-center">Collegebox is a simple, quick way of sharing college material. Start by choosing your campus and then finding the classes you need help in.</h2>
      <div class="text-center">
      <input type="hidden" class="university-select">
		<h2></h2>
      </div>
      <h2></h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <header>
            <h2 class="text-center"><i class="fa fa-thumbs-up"></i>&nbsp;Simple</h2>
          </header>
        </div>
        <div class="col-md-4">
          <h2 class="text-center"><i class="fa fa-check"></i>&nbsp;Fast</h2>
        </div>
        <div class="col-md-4">
          <header>
            <h2 class="text-center"><i class="fa fa-smile-o"></i><span style="color: inherit; line-height: 30px;"><font face="FontAwesome"></font></span><span style="color: inherit; font-family: inherit; line-height: 1.1;">&nbsp;Helpful</span></h2>
          </header>
        </div>
      </div>
    </div>
</template>

<template name="Loading">
  <h1>
    Loading...
  </h1>
</template>